In [2]:
import pandas as pd
import numpy as np

C:\Users\dpkar\AppData\Roaming\Python\Python38\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
from pandas.core.computation.check import NUMEXPR_INSTALLED

### Part 1: Data Cleaning and Preprocessing
#### 1.1 Load and Inspect the Dataset
• Load the dataset and display its shape, column names, and data types.

• Identify and list the number of missing values in each column.

In [55]:
df = pd.read_csv('Building_Energy_Benchmarking.csv')

In [56]:
df.shape

# dataset is having 494 rows and 31 columns

(494, 31)

In [57]:
display(df.columns)

Index(['Property Id', 'Property Name', 'Address 1', 'City', 'Postal Code',
       'Province', 'Primary Property Type - Self Selected',
       'Number of Buildings', 'Year Built',
       'Property GFA - Self-Reported (m²)', 'ENERGY STAR Score',
       'Site Energy Use (GJ)', 'Weather Normalized Site Energy Use (GJ)',
       'Site EUI (GJ/m²)', 'Weather Normalized Site EUI (GJ/m²)',
       'Source Energy Use (GJ)', 'Weather Normalized Source Energy Use (GJ)',
       'Source EUI (GJ/m²)', 'Weather Normalized Source EUI (GJ/m²)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Total GHG Emissions Intensity (kgCO2e/m²)',
       'Direct GHG Emissions (Metric Tons CO2e)',
       'Direct GHG Emissions Intensity (kgCO2e/m²)',
       'Electricity Use - Grid Purchase (kWh)', 'Natural Gas Use (GJ)',
       'District Hot Water Use (GJ)',
       'Electricity Use – Generated from Onsite Renewable Systems (kWh)',
       'Green Power - Onsite and Offsite (kWh)',
       'Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)',
       'Year Ending', 'Unique ID'],
      dtype='object')

In [58]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 31 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Property Id                                                            494 non-null    int64
 1   Property Name                                                          494 non-null    object
 2   Address 1                                                              494 non-null    object
 3   City                                                                   494 non-null    object
 4   Postal Code                                                            494 non-null    object
 5   Province                                                               494 non-null    object
 6   Primary Property Type - Self Selected                                  494 non-null    object
 7   Number of Buildings                                                    494 non-null    int64
 8   Year Built                                                             494 non-null    int64
 9   Property GFA - Self-Reported (m²)                                      494 non-null    object
 10  ENERGY STAR Score                                                      165 non-null    float64
 11  Site Energy Use (GJ)                                                   494 non-null    object
 12  Weather Normalized Site Energy Use (GJ)                                494 non-null    object
 13  Site EUI (GJ/m²)                                                       494 non-null    float64
 14  Weather Normalized Site EUI (GJ/m²)                                    494 non-null    float64
 15  Source Energy Use (GJ)                                                 494 non-null    object
 16  Weather Normalized Source Energy Use (GJ)                              492 non-null    object
 17  Source EUI (GJ/m²)                                                     494 non-null    float64
 18  Weather Normalized Source EUI (GJ/m²)                                  494 non-null    float64
 19  Total GHG Emissions (Metric Tons CO2e)                                 494 non-null    object
 20  Total GHG Emissions Intensity (kgCO2e/m²)                              494 non-null    float64
 21  Direct GHG Emissions (Metric Tons CO2e)                                494 non-null    object
 22  Direct GHG Emissions Intensity (kgCO2e/m²)                             494 non-null    float64
 23  Electricity Use - Grid Purchase (kWh)                                  494 non-null    object
 24  Natural Gas Use (GJ)                                                   484 non-null    object
 25  District Hot Water Use (GJ)                                            15 non-null     object
 26  Electricity Use – Generated from Onsite Renewable Systems (kWh)        44 non-null     float64
 27  Green Power - Onsite and Offsite (kWh)                                 296 non-null    float64
 28  Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)  296 non-null    float64
 29  Year Ending                                                            494 non-null    int64
 30  Unique ID                                                              494 non-null    object
dtypes: float64(10), int64(4), object(17)
memory usage: 119.8+ KB

None

In [59]:
df.head(10)

,Property Id,Property Name,Address 1,City,Postal Code,Province,Primary Property Type - Self Selected,Number of Buildings,Year Built,Property GFA - Self-Reported (m²),...,Direct GHG Emissions (Metric Tons CO2e),Direct GHG Emissions Intensity (kgCO2e/m²),Electricity Use - Grid Purchase (kWh),Natural Gas Use (GJ),District Hot Water Use (GJ),Electricity Use – Generated from Onsite Renewable Systems (kWh),Green Power - Onsite and Offsite (kWh),Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e),Year Ending,Unique ID
0,10176804,Acadia Aquatic & Fitness Centre,9009 Fairmount Dr SE,Calgary,T2H 0Z4,Alberta,Heated Swimming Pool,1,2010,1838,...,280,152.4,368616,5453,NaN,NaN,368616.0,171.0,2023,2023-10176804
1,6169481,Ad Valorem,2924 11 ST NE,Calgary,t2e7l7,Alberta,Office,1,1981,7770,...,243,31.2,1091854,4725,NaN,NaN,1091854.0,508.0,2023,2023-6169481
2,6305956,Alberta Trade Centre,315 10 AV SE,Calgary,T2G 0W2,Alberta,Office,1,1974,6681,...,0,0.0,508589,3,2180,NaN,508589.0,236.0,2023,2023-6305956
3,8854296,Andrew Davison,133 6 AV SE,Calgary,T2G0G2,Alberta,Office,1,1979,17468,...,26,1.5,1152308,506,6582,NaN,1152308.0,536.0,2023,2023-8854296
4,21988603,Animal Services Centre,2201 PORTLAND ST SE,Calgary,T2G 4M7,Alberta,Office,1,2000,2143,...,253,118.1,508594,4926,NaN,NaN,508594.0,236.0,2023,2023-21988603
5,21988595,Apparatus Repair Shop and Spare Apparatus Shop,1725 18 AV NE,Calgary,T2N 2H8,Alberta,"Repair Services (Vehicle, Shoe, Locksmith, etc.)",2,2011,6632,...,179,26.9,604506,3480,NaN,NaN,604506.0,281.0,2023,2023-21988595
6,10417704,Beltline Aquatic & Fitness Centre,221 12 Av SW,Calgary,T2R 0G9,Alberta,Fitness Center/Health Club/Gym,1,1988,1807,...,117,64.6,180718,2274,NaN,NaN,180718.0,84.0,2023,2023-10417704
7,9481172,Bob Bohan Aquatic and Fitness Centre,4812 14 Av SE,Calgary,T2AoK9,Alberta,Heated Swimming Pool,1,1976,1641,...,304,185.0,597416,5914,NaN,NaN,597416.0,278.0,2023,2023-9481172
8,10439156,Bowmont Civic Building,5000 Bowness Civic Building,Calgary,T3B 0B9,Alberta,Office,1,1974,832,...,24,28.8,62980,466,NaN,NaN,62980.0,29.0,2023,2023-10439156
9,8854297,Calgary Public Building,205 8 AV SE,Calgary,T2G0K7,Alberta,Office,1,1931,15195,...,240,15.8,873097,4666,NaN,NaN,873097.0,406.0,2023,2023-8854297

In [60]:
# to check for duplicated rows:
df.duplicated().sum()

print(f'The number of duplicated columns: {df.duplicated().sum()}')

The number of duplicated columns: 0

In [61]:
# to display the number of missing values in each column
print('The percent of missing values in each column: ')
display(df.isna().sum()/len(df)*100 )

print('\n')

print('The columns having more than 40% missing values')
display(df.columns[df.isna().sum()/len(df)*100 > 40.0])

The percent of missing values in each column:

Property Id                                                               0.000000
Property Name                                                             0.000000
Address 1                                                                 0.000000
City                                                                      0.000000
Postal Code                                                               0.000000
Province                                                                  0.000000
Primary Property Type - Self Selected                                     0.000000
Number of Buildings                                                       0.000000
Year Built                                                                0.000000
Property GFA - Self-Reported (m²)                                         0.000000
ENERGY STAR Score                                                        66.599190
Site Energy Use (GJ)                                                      0.000000
Weather Normalized Site Energy Use (GJ)                                   0.000000
Site EUI (GJ/m²)                                                          0.000000
Weather Normalized Site EUI (GJ/m²)                                       0.000000
Source Energy Use (GJ)                                                    0.000000
Weather Normalized Source Energy Use (GJ)                                 0.404858
Source EUI (GJ/m²)                                                        0.000000
Weather Normalized Source EUI (GJ/m²)                                     0.000000
Total GHG Emissions (Metric Tons CO2e)                                    0.000000
Total GHG Emissions Intensity (kgCO2e/m²)                                 0.000000
Direct GHG Emissions (Metric Tons CO2e)                                   0.000000
Direct GHG Emissions Intensity (kgCO2e/m²)                                0.000000
Electricity Use - Grid Purchase (kWh)                                     0.000000
Natural Gas Use (GJ)                                                      2.024291
District Hot Water Use (GJ)                                              96.963563
Electricity Use – Generated from Onsite Renewable Systems (kWh)          91.093117
Green Power - Onsite and Offsite (kWh)                                   40.080972
Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)    40.080972
Year Ending                                                               0.000000
Unique ID                                                                 0.000000
dtype: float64

The columns having more than 40% missing values

Index(['ENERGY STAR Score', 'District Hot Water Use (GJ)',
       'Electricity Use – Generated from Onsite Renewable Systems (kWh)',
       'Green Power - Onsite and Offsite (kWh)',
       'Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)'],
      dtype='object')

#### 1.2 Handling Missing Data
• Drop columns with more than 40% missing values.

• For numerical columns, fill missing values with the median of their respective column.

• For categorical columns, fill missing values with the mode of their respective column.

In [62]:
# remove columns with more than 40% missing values

column_threshold = 0.4*len(df)

print(f'The threshold for missing values in columns is {round(column_threshold,3)} ')

The threshold for missing values in columns is 197.6

In [63]:
# remove the rows that have more than 40% missing values
# df_na_removed = df.dropna(thresh = row_threshold, axis = 0)

In [64]:
# remove the columns that have more than 40% missing values
df_na_removed = df.dropna(thresh = column_threshold, axis = 1)

In [65]:
df_na_removed.isna().sum()/len(df_na_removed)*100

Property Id                                                               0.000000
Property Name                                                             0.000000
Address 1                                                                 0.000000
City                                                                      0.000000
Postal Code                                                               0.000000
Province                                                                  0.000000
Primary Property Type - Self Selected                                     0.000000
Number of Buildings                                                       0.000000
Year Built                                                                0.000000
Property GFA - Self-Reported (m²)                                         0.000000
Site Energy Use (GJ)                                                      0.000000
Weather Normalized Site Energy Use (GJ)                                   0.000000
Site EUI (GJ/m²)                                                          0.000000
Weather Normalized Site EUI (GJ/m²)                                       0.000000
Source Energy Use (GJ)                                                    0.000000
Weather Normalized Source Energy Use (GJ)                                 0.404858
Source EUI (GJ/m²)                                                        0.000000
Weather Normalized Source EUI (GJ/m²)                                     0.000000
Total GHG Emissions (Metric Tons CO2e)                                    0.000000
Total GHG Emissions Intensity (kgCO2e/m²)                                 0.000000
Direct GHG Emissions (Metric Tons CO2e)                                   0.000000
Direct GHG Emissions Intensity (kgCO2e/m²)                                0.000000
Electricity Use - Grid Purchase (kWh)                                     0.000000
Natural Gas Use (GJ)                                                      2.024291
Green Power - Onsite and Offsite (kWh)                                   40.080972
Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)    40.080972
Year Ending                                                               0.000000
Unique ID                                                                 0.000000
dtype: float64

In [66]:
df_na_removed.shape

(494, 28)

In [67]:
df.shape

(494, 31)

In [68]:

df_na_removed.describe()

,Property Id,Number of Buildings,Year Built,Site EUI (GJ/m²),Weather Normalized Site EUI (GJ/m²),Source EUI (GJ/m²),Weather Normalized Source EUI (GJ/m²),Total GHG Emissions Intensity (kgCO2e/m²),Direct GHG Emissions Intensity (kgCO2e/m²),Green Power - Onsite and Offsite (kWh),Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e),Year Ending
count,4.940000e+02,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,2.960000e+02,296.000000,494.000000
mean,1.308877e+07,1.060729,1980.091093,1.774798,1.810324,2.282753,2.319717,158.671660,63.821862,5.997183e+05,278.847635,2020.995951
std,5.659556e+06,0.278281,25.159568,1.306700,1.331529,1.597846,1.622897,109.472637,56.835735,1.196070e+06,556.048804,1.414208
min,6.169481e+06,1.000000,1896.000000,0.060000,0.060000,0.110000,0.110000,10.200000,0.000000,1.040400e+03,0.500000,2019.000000
25%,9.563763e+06,1.000000,1970.000000,0.990000,1.000000,1.312500,1.350000,93.100000,33.325000,1.030868e+05,48.000000,2020.000000
50%,9.997794e+06,1.000000,1978.000000,1.290000,1.310000,1.680000,1.690000,117.600000,43.900000,2.203235e+05,102.500000,2021.000000
75%,2.198860e+07,1.000000,1996.000000,2.065000,2.110000,2.622500,2.652500,186.975000,74.050000,5.415978e+05,252.000000,2022.000000
max,2.198863e+07,3.000000,2018.000000,8.430000,8.360000,10.130000,10.060000,666.200000,386.000000,9.618604e+06,4472.000000,2023.000000

In [69]:
df_na_removed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494 entries, 0 to 493
Data columns (total 28 columns):
 #   Column                                                                 Non-Null Count  Dtype
---  ------                                                                 --------------  -----
 0   Property Id                                                            494 non-null    int64
 1   Property Name                                                          494 non-null    object
 2   Address 1                                                              494 non-null    object
 3   City                                                                   494 non-null    object
 4   Postal Code                                                            494 non-null    object
 5   Province                                                               494 non-null    object
 6   Primary Property Type - Self Selected                                  494 non-null    object
 7   Number of Buildings                                                    494 non-null    int64
 8   Year Built                                                             494 non-null    int64
 9   Property GFA - Self-Reported (m²)                                      494 non-null    object
 10  Site Energy Use (GJ)                                                   494 non-null    object
 11  Weather Normalized Site Energy Use (GJ)                                494 non-null    object
 12  Site EUI (GJ/m²)                                                       494 non-null    float64
 13  Weather Normalized Site EUI (GJ/m²)                                    494 non-null    float64
 14  Source Energy Use (GJ)                                                 494 non-null    object
 15  Weather Normalized Source Energy Use (GJ)                              492 non-null    object
 16  Source EUI (GJ/m²)                                                     494 non-null    float64
 17  Weather Normalized Source EUI (GJ/m²)                                  494 non-null    float64
 18  Total GHG Emissions (Metric Tons CO2e)                                 494 non-null    object
 19  Total GHG Emissions Intensity (kgCO2e/m²)                              494 non-null    float64
 20  Direct GHG Emissions (Metric Tons CO2e)                                494 non-null    object
 21  Direct GHG Emissions Intensity (kgCO2e/m²)                             494 non-null    float64
 22  Electricity Use - Grid Purchase (kWh)                                  494 non-null    object
 23  Natural Gas Use (GJ)                                                   484 non-null    object
 24  Green Power - Onsite and Offsite (kWh)                                 296 non-null    float64
 25  Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e)  296 non-null    float64
 26  Year Ending                                                            494 non-null    int64
 27  Unique ID                                                              494 non-null    object
dtypes: float64(8), int64(4), object(16)
memory usage: 108.2+ KB

In [70]:
# to get names of all the columns that are of dtype 'object':
# Syntax is df.select_dtypes(include = ['object']).columns


df_na_removed.select_dtypes(include=['object']).columns

Index(['Property Name', 'Address 1', 'City', 'Postal Code', 'Province',
       'Primary Property Type - Self Selected',
       'Property GFA - Self-Reported (m²)', 'Site Energy Use (GJ)',
       'Weather Normalized Site Energy Use (GJ)', 'Source Energy Use (GJ)',
       'Weather Normalized Source Energy Use (GJ)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Direct GHG Emissions (Metric Tons CO2e)',
       'Electricity Use - Grid Purchase (kWh)', 'Natural Gas Use (GJ)',
       'Unique ID'],
      dtype='object')

In [49]:
df_na_removed['Weather Normalized Source Energy Use (GJ)'].dtype

dtype('O')

In [71]:
# df['column_name'] = df['column_name'].str.replace(',', '').astype(float)
# Earlier this was throwing an error as the column values are strings with numbers and commas

df_na_removed['Weather Normalized Source Energy Use (GJ)'] = df_na_removed['Weather Normalized Source Energy Use (GJ)'].str.replace(',','').astype(float)

<ipython-input-71-7bece5541860>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_removed['Weather Normalized Source Energy Use (GJ)'] = df_na_removed['Weather Normalized Source Energy Use (GJ)'].str.replace(',','').astype(float)

In [72]:
df_na_removed['Weather Normalized Source Energy Use (GJ)'].fillna(df_na_removed['Weather Normalized Source Energy Use (GJ)'].median(), inplace = True)

<ipython-input-72-61145e05405e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_removed['Weather Normalized Source Energy Use (GJ)'].fillna(df_na_removed['Weather Normalized Source Energy Use (GJ)'].median(), inplace = True)

In [73]:

df_na_removed['Weather Normalized Source Energy Use (GJ)'].dtype

dtype('float64')

In [63]:
df_na_removed.head()

,Property Id,Property Name,Address 1,City,Postal Code,Province,Primary Property Type - Self Selected,Number of Buildings,Year Built,Property GFA - Self-Reported (m²),...,Total GHG Emissions (Metric Tons CO2e),Total GHG Emissions Intensity (kgCO2e/m²),Direct GHG Emissions (Metric Tons CO2e),Direct GHG Emissions Intensity (kgCO2e/m²),Electricity Use - Grid Purchase (kWh),Natural Gas Use (GJ),Green Power - Onsite and Offsite (kWh),Avoided Emissions - Onsite and Offsite Green Power (Metric Tons CO2e),Year Ending,Unique ID
0,10176804,Acadia Aquatic & Fitness Centre,9009 Fairmount Dr SE,Calgary,T2H 0Z4,Alberta,Heated Swimming Pool,1,2010,1838,...,509,276.7,280,152.4,368616,5453,368616.0,171.0,2023,2023-10176804
1,6169481,Ad Valorem,2924 11 ST NE,Calgary,t2e7l7,Alberta,Office,1,1981,7770,...,920,118.4,243,31.2,1091854,4725,1091854.0,508.0,2023,2023-6169481
2,6305956,Alberta Trade Centre,315 10 AV SE,Calgary,T2G 0W2,Alberta,Office,1,1974,6681,...,499,74.6,0,0.0,508589,3,508589.0,236.0,2023,2023-6305956
3,8854296,Andrew Davison,133 6 AV SE,Calgary,T2G0G2,Alberta,Office,1,1979,17468,...,1293,74.0,26,1.5,1152308,506,1152308.0,536.0,2023,2023-8854296
4,21988603,Animal Services Centre,2201 PORTLAND ST SE,Calgary,T2G 4M7,Alberta,Office,1,2000,2143,...,568,265.2,253,118.1,508594,4926,508594.0,236.0,2023,2023-21988603

In [74]:
df_na_removed['Weather Normalized Source Energy Use (GJ)'].isna().sum()

0

In [77]:
#df_na_removed['Natural Gas Use (GJ)'].value_counts()

Natural Gas Use (GJ)
5,754.10    2
840         2
1034        2
3226        2
5453        1
           ..
6,219.40    1
1,196.80    1
2,770.30    1
191.9       1
244         1
Name: count, Length: 480, dtype: int64

In [87]:
df_na_removed['Natural Gas Use (GJ)'].isna().sum()

10

In [78]:
df_na_removed['Natural Gas Use (GJ)']= df_na_removed['Natural Gas Use (GJ)'].str.replace(',','').astype(float)

<ipython-input-78-7a1dfbe407e1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_removed['Natural Gas Use (GJ)']= df_na_removed['Natural Gas Use (GJ)'].str.replace(',','').astype(float)

In [86]:
df_na_removed['Natural Gas Use (GJ)'].dtype

dtype('float64')

In [92]:
df_na_removed['Natural Gas Use (GJ)'].fillna(df_na_removed['Natural Gas Use (GJ)'].median(), inplace = True)

<ipython-input-92-a0028a02123f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_removed['Natural Gas Use (GJ)'].fillna(df_na_removed['Natural Gas Use (GJ)'].median(), inplace = True)

In [93]:
df_na_removed['Natural Gas Use (GJ)'].isna().sum()

0

In [85]:
import matplotlib.pyplot as plt

In [97]:
df_na_removed['Green Power - Onsite and Offsite (kWh)'].median()

220323.5

In [99]:
df_na_removed['Green Power - Onsite and Offsite (kWh)'].fillna(df_na_removed['Green Power - Onsite and Offsite (kWh)'].median(), inplace = True)

<ipython-input-99-176d5ea41133>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_removed['Green Power - Onsite and Offsite (kWh)'].fillna(df_na_removed['Green Power - Onsite and Offsite (kWh)'].median(), inplace = True)

In [100]:
df_na_removed['Green Power - Onsite and Offsite (kWh)'].isna().sum()

0